---
layout: default
# The home page layout
---
<div class="row h-100">
    <div class="post pl-2 pr-1 h-100 d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-uppercase display-2 font-weight-bold mb-0" style="font-size: 6rem;">Yen-An <span class="text --accent" style="font-size: 6rem;">Lu</span></h1>
      <a href="mailto:davidlu1027@gmail.com" class="text-uppercase h3 text --accent font-weight-bold">davidlu1027@gmail.com</a>
      <br>
      <h3 class="text-center" style="font-size: 2rem;">I'm an ASIC designer. I work on energy-efficient circuits.</h3>
      <div class="display-4 mt-3 d-flex justify-content-start align-items-center">
        <a href="https://github.com/{{ site.github.username }}" aria-label="github" target="_blank" rel="noopener" class="mr-3" style="font-size: 3rem;">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://linkedin.com/in/{{ site.linkedin.username }}" aria-label="linkedin" target="_blank" rel="noopener" style="font-size: 3rem;">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>
  